<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1 class="box" id="heading"> <%= dayShow %></h1>
    <div class="box">
        <% for(var i=0;i<personalTD.length;i++) { %>
            <div class="item">
                <input type="checkbox">
                <p> <%= personalTD[i] %> </p>
            </div>
        <% } %>
        <form class="item" action="/" method="post">
            <input type="text" name="text1" placeholder="New Item" autocomplete="off">
            <button type="submit" name="submit" value= <%= dayShow %>>
                +
            </button>
        </form>
    </div>
</body>
</html>